block config
  - var current = 'main'
  - var pageTitle = 'TICKI - Compliant Marketing Questions'
  - var productName = "TICKI"

html
  head
    meta(charset="UTF-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    
    title= pageTitle

    link(rel="stylesheet", href="/css/#{current}.css")

    script(src="https://cdn.auth0.com/js/lock/10.3/lock.min.js")

    block head
    
  body

    include nav

    block main
      // page content will come here.

    include footer

    if (typeof(user) !== undefined && user != null) 
      script.
        user = {
          client_id:'#{user._json.app_metadata.tenant_id};'
        }
    

    script(src='/vendor.bundle.js')
    script(src='/js/#{current}.js')

    script(type='text/javascript').
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/58d10bcda8edb309fae8c8af/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
      })();

    
      