extends layout

block config
  - var header = "Customer Portal"

mixin menuLink(link, cls, name)
  li
    a(href=link) 
      i.nav-link(class='bi_'+cls) 
      span !{name}

mixin sampleProject(repo)
  .package
    .package-content.clearfix
      .package-information
        h3.package-header Sample Project

        p.package-description.configured.
          Download this sample project configured with your Ticki API Keys.

      .package-buttons
        a.btn.btn-sm.btn-success(href='https://ticki.com/packages/nodeJs?clientId=' + user._json.app_metadata.tenant_id, rel='nofollow') Download
        a.github-link(href='https://github.com/TICKILTD/' + !{repo} + '/tree/master/00-Starter-Seed', rel='nofollow') Fork on Github

mixin registationLink(productid, productname, cls, icon, text)
  a(class=cls, href='https://ticki.chargify.com/subscribe/' + productid + '/' + productname + '?reference=#{user._json.app_metadata.tenant_id}&email=#{user._json.email}&organization=#{user._json.user_metadata.companyName}&country=GB')
    i(class="bi_" + icon) !{text}


block config
  - var current = 'portal'
  - var pageTitle = 'TICKI - Compliant Marketing Questions'
  - var productName = 'TICKI'

block main 
  section#userportal
    .container.root-container
      .row
        .hidden-xs.hidden-sm.col-xs-12.col-sm-3.col-md-2.mt-60.mt-mobile-0

          aside#sidebar
            ul.nav.flex-column
              +menuLink('/portal', 'interface-dashboard', 'Dashboard')
              +menuLink('/portal/gettingstarted', 'setting-airplane', 'Getting Started')
              +menuLink('/portal/hostedpages', 'doc-profile-a', 'Hosted Pages')
              +menuLink('/portal/reports', 'doc-papers', 'Reports')
              +menuLink('/portal/emails', 'com-email', 'Emails')

        .col-xs-10.col-md10
          .row
            .col-lg-12.text-left
              h1.pull-left.portal-header #{header}
              
              if (user.status && user.status.value == 'trial')
                if (user.status.trial_days_remaining > 0)
                  +registationLink('qzdqrz6gfrsb', 'ticki-standard', 'pull-right', 'time-clock', `Sign up within the next ${user.status.trial_days_remaining} days to get £5 off your monthly subscription.`)
                else 
                  if (user.status.trial_days_remaining == 0)
                    +registationLink('qzdqrz6gfrsb', 'ticki-standard', 'pull-right', 'time-clock', `Sign up today to get £5 off your monthly subscription.`)
                  else
                    +registationLink('qzdqrz6gfrsb', 'ticki-standard', 'pull-right', 'time-clock', `Your trial period has ran out. Click here to subscribe`)
              else
                if (user.status && user.status.value == 'suspended')
                  a.pull-right
                    i.bi_user-password !{user.status.description}

          .row
            .col-lg-12
              hr
              
          .row
            .col-lg-12.text-left

              block portal-main